# Macos files
.DS_Store

# Intellij
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig

## Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
deb_dist
develop-eggs
target
venv
.cache
.sonar
.oracle_jre_usage
.scannerwork


## Unit test / coverage reports
.coveragerc
.coverage